<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">

               <p>
                   Verified: {{ user.name }}
               </p>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                user: ''
            }
        },
        mounted() {

            var self = this
            axios.get('/api/user')
                .then(response => {
                    console.log(response.data)
                    self.user = response.data
                })
        },
    }
</script>
